<%= form_for :filter, method: :get do |f| %>
  <div class="row">
    <div class="col-md-12">
      <%= f.label :dimension, "Filter by Dimension" %>
      <%= f.select :dimension, select_options_for_dimensions %>
      <%= f.submit "Filter", class: "btn btn-primary" %>
    </div>
  </div>
  <br/>
<% end %>

<div class="row">
  <div class="col-md-12">
    <%= link_to "Download CSV", url_for(request.parameters.merge(format: :csv)), class: "btn btn-primary" %>
  </div>
</div>
<br/>

<table class="table table-striped table-bordered">
  <thead>
    <th><%= sortable(:dimension) %></th>
    <th><%= sortable(:ha1_interior, "HA 1 Interior") %></th>
    <th><%= sortable(:ha2_fraser, "HA 2 Fraser") %></th>
    <th><%= sortable(:ha3_vancouver_caustal, "HA 3 Vancouver Caustal") %></th>
    <th><%= sortable(:ha4_vancouver_island, "HA 4 Vancouver Island") %></th>
    <th><%= sortable(:ha5_northern, "HA 5 Northern") %></th>
  </thead>
  <tbody>
    <% @population_statistics.each do |population_statistic| %>
      <tr>
        <td><%= population_statistic.dimension %></td>
        <td><%= population_statistic.ha1_interior %></td>
        <td><%= population_statistic.ha2_fraser %></td>
        <td><%= population_statistic.ha3_vancouver_caustal %></td>
        <td><%= population_statistic.ha4_vancouver_island %></td>
        <td><%= population_statistic.ha5_northern %></td>
      </tr>
    <% end %>
  </tbody>
  <tfooter>
    <th>Grand Total</th>
    <th><%= @population_statistics.sum(:ha1_interior) %></th>
    <th><%= @population_statistics.sum(:ha2_fraser) %></th>
    <th><%= @population_statistics.sum(:ha3_vancouver_caustal) %></th>
    <th><%= @population_statistics.sum(:ha4_vancouver_island) %></th>
    <th><%= @population_statistics.sum(:ha5_northern) %></th>
  </tfooter>
</table>
<%= will_paginate @population_statistics, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
